<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% load static %}
   <link rel="stylesheet" href="{% static 'indexstyles.css' %}">
   <title>Register or log in</title>
</head>
<body>
   <div id="container">

      <h1>Welcome to Ahab</h1>
      <h3>Hunt your favorite whales.</h3>

      {% if messages %}
      <ul>    
         {% for message in messages %}    
         <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
         {% endfor %}
      </ul>
      {% endif %}
      
      <div id="content">

         <form action="/reg" method="POST">
         {% csrf_token %}
            <img src="{% static 'images/reg.png' %}" alt="reg icon">
            <h5>Register</h5>
            <input class="entry" type="text" name="alias" placeholder="UserName">
            <input class="entry" type="text" name="email" placeholder="Email Address">
            <input class="entry" type="password" name="password" placeholder="Password">
            <input class="entry" type="password" name="p2" placeholder="Confirm Password">
            <input class="button" type="Submit" value="Register" name="reg">
         </form>

         <form action="/login" method="POST">
         {% csrf_token %}
            <img src="{% static 'images/login.png' %}" alt="login icon">
            <h5>Log in</h5>
            <input class="entry" type="text" name="email" placeholder="Email Address">
            <input class="entry" type="password" name="password" placeholder="Password">
            <input class="button" type="Submit" value="Login" name="login">
         </form>

      </div>
   </div>
</body>
</html>